<div class="mt-5 card container border rounded p-s5 divwidth">
  <h5 class="text-center mb-4">Please, enter email address</h5>
  <div class="alert alert-warning" *ngIf="input">{{message}}</div>
  <form [formGroup]="form" (ngSubmit)="forgotPassword()" autocomplete="off">

    <div class="form-group">
      <input type="text" formControlName="email" placeholder="Email address" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email address is required</div>
      </div>
    </div>

    <div></div>
    <input type="submit" value="Submit" class="btn btn-info btn-block btn-lg">
    <p></p>
  </form>
</div>
