<div class="mt-1 card divwidth">
  <h4 class="card-header">Tweet Application Services</h4>
  <div class="card-body">
    <button type="button" class="btn btn-info" routerLink ="/findAllUsers">Find All Users</button>
    <button type="button" class="btn btn-info" routerLink ="/searchSpecificUser">Find Specific User</button>
    <button type="button" class="btn btn-info" routerLink ="/message">Send Message</button>
    <button type="button" class="btn btn-info" (click) = "postNewTweet()">Post New Tweet</button>
  </div>
</div>

