<div class="mt-1 card" style="width: 50%; margin: auto">
  <h4 class="card-header">Reset Password Form</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="resetPassword()" autocomplete="off">
      <div class="form-group">
        <label for="passWord">Password</label>
        <input type="password" formControlName="passWord" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.passWord.errors }" />
        <div *ngIf="submitted && f.passWord.errors" class="invalid-feedback">
          <div *ngIf="f.passWord.errors.required">Password is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="f.confirmPassword.errors.required">Confirm password is required</div>
          <div *ngIf="f.confirmPassword.errors.confirmedValidator">Password and Confirm Password must be match</div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary">Upadte</button>
      </div>
    </form>
  </div>
</div>

